$paddingsize: 21px;

h4 {
    padding: $paddingsize;
}

a {
    color: black;
    padding: 15px;
    border-radius: 50px;
    text-decoration: none;
    text-align: right;
    float: right;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}